@model ProjectTask

@{
    ViewData["Title"] = "Task Details";
}

<h1>Task Details</h1>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title) <!--name of column-->
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title) <!--actual value-->
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProjectTaskID" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" asp-route-projectId="@Model.ProjectID" class="btn btn-secondary">Back to List</a>
</div>