@{
    var name = "Justin Oskam";
    var studentNumber = "100851894";
    var courseCode = "COMP 2139";
    var courseSection = "N/A";
    var term = "Winter 2024";
}

<!DOCTYPE html>
<html>
    <head>
        <title>Web Application Development</title>
    </head>

    <body>
        <h1>Welcome to my page</h1>
        <p>Name: @name</p>
        <p>Student Number: @studentNumber</p>
        <p>Course Code: @courseCode</p>
        <p>Course Section: @courseSection</p>
        <p>Term: @term</p>
    </body>
</html>
